# Analysis mode: 'valgrind', 'clang', 'clang-tidy', or 'iwyu'
INPUT_MODE="valgrind"
INPUT_BINARY_ARGS=""
INPUT_BINARY_PATH=""
INPUT_LD_LIBRARY_PATH=""
INPUT_REDZONE_SIZE="16"
INPUT_TRACK_FILE_DESCRIPTORS="true"
INPUT_TREAT_ERROR_AS_WARNING="false"
INPUT_VALGRIND_SUPPRESSIONS=""
INPUT_VERBOSE="false"
INPUT_TIMEOUT="0"
INPUT_SOURCE_FILES=""
INPUT_SANITIZER="asan"
INPUT_CLANG_EXTRA_FLAGS=""
INPUT_OUTPUT_BINARY="a.out"
INPUT_CLANG_TIDY_CHECKS=""
HOME="/root"
